.paginationContainer {
  width: 90%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  .leftArrow {
    position: relative;
    left: 0;
  }

  .rightArrow {
    position: absolute;
    right: 0;
  }
}
