body {
  background: #da4453; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #89216b,
    #da4453
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #89216b,
    #da4453
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  // background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);

  min-height: 100vh;
}
